@import './vendor/bootstrap.min.css';

html{
    font: 16px Arial;
    --black: black;
    --text: #cfcec7;
}

body{
    color: var(--text);
    background: url('../images/c21fg-bg.jpg');
    background-position: top;
}

.page-inner{
    background: #000000e5;
    height: 100vh !important;
}

#loader{
    position: fixed;
    top:0;
    bottom: 0;
    background: #000000d0;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}